@import "./normalize/normalize-scss-7.0.1/sass/normalize";
@import "breakpoints";
@import "palette";
// @import "./controllers/Header/Header.scss";

html {
  /* min-width: 50px; */
  box-sizing: border-box;
  // font-size: 120%;
  // max-width: $max-width;
  // min-width: $break-xs + $col-gutter * 2;
  // back
}
.App {
  margin-left: auto;
  margin-right: auto;
  // display: grid;
  max-width: $content-width;
  padding-top: $row-gutter;
  padding-left: $col-gutter;
  padding-right: $col-gutter;
  background-color: $color-dark5;
  row-gap: $row-gutter;
  column-gap: $col-gutter;

  min-height: 100vh;
}
.App > * {
  // background-color: $color2;
}

@media screen and (min-width: $break-xs) {
  .App {
    // background-color: orange;
  }
}
// two columns
@media screen and (min-width: $break-sm) {
  .App {
    // background-color: yellow;
  }
}
// three columns
@media screen and (min-width: $break-md) {
  .App {
    // background-color: green;
  }
}
// four columns
@media screen and (min-width: $break-lg) {
  .App {
    // background-color: blue;
  }
}
// five columns
@media screen and (min-width: $break-xl) {
  .App {
  }
}
@media screen and (min-width: $break-xxl) {
  .App {
  }
}
@media screen and (min-width: $break-hd) {
  .App {
  }
}
