$col-gutter: 15px;
$row-gutter: 15px;
$max-width: 1920px;
$content-width: $max-width - $col-gutter * 2;
$numColumns: 6;
$col-width: ($content-width - ($col-gutter * ($numColumns - 1))) / $numColumns;
@debug $col-width;
// one column
$break-xs: $col-width + $col-gutter * 2;
// two columns
$break-sm: $break-xs + $col-width + $col-gutter + 3px;
// three columns
$break-md: $break-sm + $col-width + $col-gutter * 2;
// four columns
$break-lg: $break-md + $col-width + $col-gutter;
// 5 columns
$break-xl: $break-lg + $col-width + $col-gutter;
// 6 columns
$break-xxl: $break-xl + $col-width + $col-gutter;
$break-hd: $col-width * 7;
