/* Coolors Exported Palette - coolors.co/1d100d-573124-5a3a2e-b1734c-d5966c */

/* RGB */
$color-dark1: rgba(29, 16, 13, 1);
$color-dark2: rgba(87, 49, 36, 1);
$color-dark3: rgba(90, 58, 46, 1);
$color-dark4: rgba(177, 115, 76, 1);
$color-dark5: rgba(213, 150, 108, 1);

$color1: rgba(211, 184, 150, 1);
$color2: rgba(222, 196, 165, 1);
$color3: rgba(226, 199, 159, 1);
$color4: rgba(241, 223, 197, 1);
$color5: rgba(236, 216, 187, 1);

$complement4: #245657;

$complement3: #2e565a;
$complement4: #4c79b1;
$complement5: #6cabd5;
