@import "../../breakpoints";
@import "../../palette.scss";
html {
  --Brand-img-row-start: 0;
  --Brand-img-row-end: 1;
  --Nav-row-start: var(--Brand-img-row-end);
  --Nav-row-end: calc(var(--Nav-row-start) + 1);
  --Search-row-start: calc(var(--Nav-row-end));
  --Search-row-end: calc(var(--Search-row-start) + 3);
}
.Header {
  /* grid-row: var(--Header-row-start) / var(--Header-row-end); */
  // display: contents;
  /* flex-direction: column; */
  /* grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr 1fr; */
  padding: $row-gutter $col-gutter;
  background-color: $color1;
  margin-bottom: $row-gutter;
}
.Header .brand-img {
  grid-area: brand-img;
  width: 100%;
  /* max-width: 200px; */
  height: auto;
  /* max-height: ; */
  margin-bottom: $row-gutter;
}
.Search {
  margin-bottom: $row-gutter;
  // height: $row-gutter * 2;
  background-color: $color1;
  padding: 1px;
}
@media screen and (min-width: $break-xs) {
}
@media screen and (min-width: $break-sm) {
  .Header .brand-img {
    width: $col-width;
    // margin-bottom: 0;
  }
  .Header .Navigation {
  }
}
@media screen and (min-width: $break-md) {
}
@media screen and (min-width: $break-lg) {
}

@media screen and (min-width: $break-xl) {
}
@media screen and (min-width: $break-xxl) {
}
nav.Navigation {
  /* grid-row: var(--Nav-row-start) / var(--Nav-row-end);
  grid-column: col-start / col-16; */
  /* display: contents; */
  display: flex;

  justify-items: space-around;
  flex-direction: row;
  margin-bottom: $row-gutter;
  // background-color: $color1;
  grid-area: navigation;
}
.nav-links,
.cart-avatar {
  display: flex;
  font-size: 200%;
  align-items: center;
}
.nav-links {
  /* grid-area: nav-links; */
  justify-content: space-evenly;
  // color: $complement5;
  color: white;
  width: 70%;
}
.nav-links a:active {
  color: white;
}
.nav-links a:visited,
.cart-avatar a:visited {
  color: $complement4;
}

.cart-avatar {
  /* display: none; */
  align-self: flex-end;
}
@media only screen and (min-width: $break-sm) {
  .Navigation {
    height: 120px;
    float: right;
    width: calc(100% - #{$col-width} - #{$col-gutter});
  }
}
.Search > * {
  height: 100%;
}
.Search {
  height: 50px;
}
.Search > input {
  width: 95%;
}
.search > a,
.search > button {
  width: 5%;
}
