@import "../../../breakpoints.scss";

$padding: 2%;
$img-base-width: 50px;
.Card {
  // max-width: 150px;
  // grid-area: main;
  // position: static;
  padding: 2%;

  width: 100%;
  border: 1px solid white;
  box-shadow: 0px 3px 2px black;
  border-top: 1px solid grey;
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  img {
    grid-area: ig;
    width: 100% - $padding;
    // max-width: 200px;
    margin: auto 0;
    display: inline;
    // margin-right: 2%;
    // float: left;
    height: auto;
    // height: $imgHeight-xs;
  }
  .name {
    // float: right;
    grid-area: nm;
    font-size: 1.1em;
    word-wrap: wrap;
    display: inline;
  }
  .description {
    grid-area: dc;
    text-overflow: ellipsis;
    word-wrap: break-word;
    max-height: 300px;
  }
  .contents {
    grid-area: content;
  }
  .add {
    grid-area: ad;
  }
  .edit {
    grid-area: ed;
  }
  .delete {
    grid-area: dl;
  }
  .price {
    grid-area: pr;
  }
}

@media screen and (min-width: $break-xs) {
  .Card {
    img {
      margin: 0 auto;
    }
    .name {
      font-size: 175%;
    }
    .price {
      font-size: 125%;
    }
    // flex-direction: column;
    // width: $cardWidth-sm;
    // height: $cardHeight-sm;
    // img {
    //   width: $img-base-width * 2;
    //   height: auto;
    // }
    max-width: $col-width - $col-gutter;
  }
}
@media screen and (min-width: $break-md) {
  .Card {
    // width: 80%;
    // max-width: 200px;
    // flex-direction: column;
    // margin-right: $col-gutter;
    // width: $col-width * 2 - $col-gutter * 2;
  }
}
@media screen and (min-width: $break-md) {
  // .Card {
  //   grid-template-areas:
  //     "ig ig ig ig nm nm nm nm nm nm nm nm"
  //     "ig ig ig ig pr pr pr pr pr pr pr pr"
  //     "ig ig ig ig pr pr pr pr pr pr pr pr"
  //     "dc dc dc dc dc dc dc dc dc dc dc dc"
  //     "ad ad ad ad ed ed ed ed dl dl dl dl";
  //   grid-template-rows: 3fr 3fr 3fr 5fr 2fr;
  // }
}
