@import "../../breakpoints.scss";
nav.Navigation {
  /* grid-row: var(--Nav-row-start) / var(--Nav-row-end);
  grid-column: col-start / col-16; */
  /* display: contents; */
  display: flex;

  justify-items: space-around;
  flex-direction: row;
  margin-bottom: $row-gutter;

  grid-area: navigation;
}
.nav-links,
.cart-avatar {
  display: flex;
  font-size: 200%;
  align-items: center;
}
.nav-links {
  /* grid-area: nav-links; */
  justify-content: space-evenly;

  width: 70%;
}
.cart-avatar {
  /* display: none; */
}
@media only screen and (min-width: $break-sm) {
  .Navigation {
    height: 120px;
    float: right;
    width: calc(100% - #{$col-width} - #{$col-gutter});
  }
}
